<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MATERI</title>
</head>
<body>
    
    <nav>
        <img src="\static\img\icon.png" height="80px">
      <div class="logo">
      </div> 
      <ul>
        <li><a href="/matematika">HOME</a></li>
        <li><a href="/profil">PROFIL</a></li>
        <li><a href="/materi">MATERI</a></li>
        <li><a href="/video">VIDEO PEMBELAJARAN</a></li>
        <li><a href="/evaluasi">EVALUASI</a></li>
      </ul>
    </nav>

    
</body>
<br>
<br>
<br>
<br>
<body>
    <center>
    <font face="ADELIA" size="26">
    <p>ARITMATIKA SOSIAL</p>
    </font>
    <img src="\static\img\aritmatika.png" height="300px">
    <br>
    <font face="Chalk">
    <h1>DEFINISI ARITMATIKA SOSIAL</h1>
    </font>
    <font face="FuturaHandwritten">
    <p style="text-align: justify;">Aritmatika sosial merupakan salah satu cabang matematika yang sering dijumpai dalam kehidupan sehari-hari. Cabang ilmu ini erat kaitannya dengan perhitungan keuangan di ritel. Aritmatika sosial sama dengan mempelajari bilangan dengan operasi sederhana.</p>
    <p style="text-align: justify;">Dalam kehidupan sehari-hari, kita tidak mungkin terlepas dari kegiatan yang terkait dengan artimetika soal. Dalam artimetika sosial ini akan dibahas tentang kegiatan yang terkait dengan dunia perekonomian, antara lain penjualan, pembelian, keuntungan, kerugian, bunga, pajak, bruto, neto, dan tara.</p>
    </font>
    <br>
    <font face="Chalk">
    <h1>PRESENTASE UNTUNG DAN RUGI</h1>
    </font>
    <font face="FuturaHandwritten">
    <p style="text-align: justify;">Dalam proses perdagangan bebas selalu terjadi interaksi antara penjual dan pembeli tentang kecocokan harga. Pembeli menginginkan harga yang cukup murah dan terjangkau, sedangkan penjual menginginkan untung yang sebesar-besarnya. Besar untung atau rugi biasanya dinyatakan dengan nominal uang atau persentase. Dalam pembahasan ini, persentase untung dan rugi selalu dihitung dari harga beli barang.</p>
    <p style="text-align: justify;"><b>1. Presentase Keuntungan</b></p>
    <p style="text-align: justify;">Persentase keuntungan digunakan untuk mengetahui persentase keuntungan dari suatu penjualan terhadap modal yang dikeluarkan.</p>
    <p style="text-align: justify;">PU = Persentase keuntungan</p>
    <p style="text-align: justify;">HB = Harga beli (modal)</p>
    <p style="text-align: justify;">HJ = Harga jual (total pemasukan)</p>
    <p style="text-align: justify;">Persentase keuntungan dapat ditentukan dengan rumus:</p>
    <img src="\static\img\untung.png" height="200px">
    <p style="text-align: justify;"><b><u>Contoh Soal :</u></b></p>
    <p style="text-align: justify;">Pak Dedi membeli suatu motor bekas dengan harga Rp4.000.000,00. Dalam waktu satu minggu motor tersebut dijual kembali dengan harga Rp. 4.200.000,00. Tentukan persentase keuntungan Pak Dedi!</p>
    <p style="text-align: justify;"><b>Penyelesaian :</b></p>
    <p style="text-align: justify;">Sebelum menentukan persentase keuntungan, kita menentukan keuntungan (U) yang diperoleh Pak Dedi lebih dulu.</p>
    <p style="text-align: justify;">i) U             = HJ − HB</p>
    <p style="text-align: justify;">                 = 4.200.000 − 4.000.000</p>
    <p style="text-align: justify;">                 = 200.000</p>
    <p style="text-align: justify;">ii) PU           = U/HB x 100%</p>
    <p style="text-align: justify;">                 = 200.000/4.000.000 x 100%</p>
    <p style="text-align: justify;">                 = 5%</p>
    <p style="text-align: justify;">Jadi, persentase keuntungan yang diperoleh Pak Dedi adalah 5%.</p>
    <p style="text-align: justify;"><b>2. Presentase Kerugian</b></p>
    <p style="text-align: justify;">Persentase kerugian digunakan untuk mengetahui persentase kerugian dari suatu penjualan terhadap modal yang dikeluarkan.</p>
    <p style="text-align: justify;">PR = Persentase kerugian</p>
    <p style="text-align: justify;">HB = Harga beli (modal)</p>
    <p style="text-align: justify;">HJ = Harga jual (total pemasukan)</p>
    <p style="text-align: justify;">Persentase kerugian dapat ditentukan dengan rumus:</p>
    <img src="\static\img\rugi.png" height="200px">
    <p style="text-align: justify;">Karena yang dihitung adalah persentasenya,maka orang dengan keuntungan lebih besar belum tentu persentase keuntungannya juga lebih besar.</p>
    <p style="text-align: justify;"><b><u>Contoh Soal :</u></b></p>
    <p style="text-align: justify;">Pak Rudi membeli sepetak tanah dengan harga Rp. 40.000.000,00. Karena terkendala masalah keluarga, Pak Dedi terpaksa menjual tanah tersebut dengan harga Rp38.000.000,00. Tentukan persentase kerugian yang ditanggung oleh Pak Rudi!</p>
    <p style="text-align: justify;"><b>Penyelesaian :</b></p>
    <p style="text-align: justify;">Sebelum menentukan persentase kerugian, kita menentukan kerugian (R) yang diperoleh Pak Rudi lebih dulu.</p>
    <p style="text-align: justify;">i) R      = HJ − HB</p>
    <p style="text-align: justify;">          = 40.000.000 − 38.000.000</p>
    <p style="text-align: justify;">          = 2.000.000</p>
    <p style="text-align: justify;">ii) PR    = R/HB × 100%</p>
    <p style="text-align: justify;">          = 2.000.000/40.000.000 x 100%</p>
    <p style="text-align: justify;">          = 5%</p>
    <p style="text-align: justify;">Jadi, persentase kerugian yang diditanggung oleh Pak Rudi adalah 5%.</p>
    </font>
    <br>
    <font face="Chalk">
    <h1>BUNGA TUNGGAL</h1>
    </font>
    <font face="FuturaHandwritten">
    <p style="text-align: justify;">Di dalam kegiatan ekonomi dan keuangan tidak akan lepas dari perhitungan matematika. Seorang pengusaha dalam menjalankan usahanya harus berurusan dengan bank. Terkadang bank tersebut digunakan untuk menyimpan uang, kadang pula untuk tempat meminjam uang guna menjadi modal dalam menjalankan usahanya. Di lingkungan sekitar kita, sering kita jumpai bahwa seseorang membeli mobil secara angsuran dengan bunga 10% pertahun atau seseorang meminjam uang di bank dengan bunga 2% per bulan.Jadi kata bunga bukanlah kata asing di telinga masyarakat Indonesia.</p>
    <p style="text-align: justify;">Secara umum bunga dapat diartikan sebagai jasa berupa uang yang diberikan oleh pihak peminjam kepada pihak yang meminjamkan modal atas persetujuan bersama. Ada kalanya juga bunga dapat diartikan sebagai jasa berupa uang yang diberikan oleh pihak bank kepada pihak yang menabung atas persetujuan bersama. Dalam dunia ekonomi terdapat bunga majemuk dan bunga tunggal. Namun, bunga yang akan dibahas dalam artikel ini hanya bunga tunggal saja. Sehingga, jika ada istilah bunga pada materi ini, yang akan yang dimaksud adalah bunga tunggal. Besarnya bunga biasanya berbeda untuk setiap bank, sesuai dengan kebermanfaatan uang dan kesepakatan kedua pihak.</p>
    <p style="text-align: justify;"><b><u>Contoh Soal :</u></b></p>
    <p style="text-align: justify;">Pak Rudi berencana membangun usaha produksi sepatu di daerahTanggulangin Sidoarjo. Untuk memenuhi kebutuhan modalnya, Pak Rudi berencana meminjam uang di Bank sebesar Rp. 200.000.000,00 (dibaca: dua ratus juta rupiah) dengan jangka waktu peminjaman selama 1 tahun (12 bulan). Ada dua bank yang menawarkan bantuan modal kepada Pak Rudi.</p>
    <p style="text-align: justify;"><b>Bank 1</b>memberikan bunga sebesar 20% per tahun.</p>
    <p style="text-align: justify;"><b>Bank 2</b>memberikan bunga sebesar 2% per bulan.</p>
    <p style="text-align: justify;"><b>Bank 3</b>memberikan bunga sebesar Rp23.000.000,00 pertahun untuk pinjaman sebesar Rp200.000.000,00.</p>
    <p style="text-align: justify;">Ketiga bank tersebut memberi persyaratan untuk mengangsur tiap bulan dengan nominal tetap. Jika kalian adalah Pak Rudi, maka Bank mana yang akan kalian pilih untuk meminjam modal usaha?</p>
    <p style="text-align: justify;"><b>Penyelesaian :</b></p>
    <p style="text-align: justify;">Pada kasus tersebut, mari kita uraikan besarnya bunga yang harus kita tanggung dari meminjam uang tersebut.</p>
    <p style="text-align: justify;">Bunga di Bank 1 = 20% × 200.000.000 = 40.000.000 (selama 1 tahun)</p>
    <p style="text-align: justify;">Bunga di Bank 2 = 2% × 200.000.000 = 4.000.000 (selama 1 bulan)</p>
    <p style="text-align: justify;">Ingat, besarnya persentase bunga yang diberikan oleh Bank 2 adalah dalam satuan bulan, sehingga jika langsung kita kalikan dengan besarnya modal,maka didapat nominal bunga dalam satuan bulan juga. Karena Pak Rudi berencana meminjam selama 12 bulan, maka besarnya bunga menjadi 4.000.000 × 12 = 48.000.000.</p>
    <p style="text-align: justify;">Bunga di Bank 3 adalah 23.000.000 pertahun untuk setiap pinjaman 200.000.000. Dengan kata lain bunga selama 2 tahun adalah 23.000.000 × 2 = 46.000.000.</p>
    <p style="text-align: justify;">Dengan memperhatikan nominal bunga yang harus kita tanggung jika kita minjam modal di Bank 1, Bank 2, dan Bank 3 tersebut tentu kita akan memilih meminjam di Bank 1, karena beban bunga yang harus kita tanggung adalah paling ringan.</p>
    <p style="text-align: justify;">Bagi kamu yang ingin menjadi pengusaha, tentu cara mengambil keputusan seperti dijelaskan di atas sangat penting. Karena sebagai peminjam kita menginginkan bunga yang sekecil mungkin. Dengan memahami materi ini, mungkin juga kalian bisa membantu orang tua yang berprofesi sebagai pengusaha. Silakan mencoba.</p>
    </font>
    <br>
    <font face="Chalk">
    <h1>DISKON</h1>
    </font>
    <font face="FuturaHandwritten">
    <p style="text-align: justify;">Saat kita pergi ke toko, minimarket, supermarket, atau tempat-tempat jualan lainnya kadang kita menjumpai tulisan Diskon 10%, diskon 20%, diskon 50%. Secara umum, diskon merupakan potongan harga yang diberikan oleh penjual terhadap suatu barang.</p>
    <p style="text-align: justify;"><b><u>Contoh Soal :</u></b></p>
    <p style="text-align: justify;">Jika William membeli sebuah telepon genggam dengan harga Rp4.200.000,00 dengan diskon 15%.Tentukan uang William yang dibutuhkan!</p>
    <p style="text-align: justify;"><b>Penyelesaian :</b></p>
    <p style="text-align: justify;">Harga sebelum diskon = Rp4.200.000</p>
    <p style="text-align: justify;">Harga diskon = 15 % x Rp4.200.000,00 = Rp630.000</p>
    <p style="text-align: justify;">Harga setelah diskon = Rp4.200.000,00 – Rp630.000,00 = Rp3.570. 000</p>
    <p style="text-align: justify;">Jadi, William harus membayar Rp3.570.000</p>
    </font>
    <br>
    <font face="Chalk">
    <h1>PAJAK</h1>
    </font>
    <font face="FuturaHandwritten">
    <p style="text-align: justify;">Pajak merupakan nilai suatu barang atau jasa yang harus dibayarkan oleh masyarakat kepada pemerintah. Besarnya pajak diatur oleh peraturan perundang-undangan sesuai dengan jenis pajak. Dalam transaksi jual beli terdapat jenis pajak yang harus dibayar oleh pembeli, yaitu Pajak Pertambahan Nilai (PPN). PPN adalah pajak yang harus dibayarkan oleh pembeli kepada penjual atas konsumsi/pembelian barang atau jasa. Penjual tersebut mewakili pemerintah untuk menerima pembayaran pajak dari pembeli untuk disetorkan ke kas negara. Biasanya besarnya PPN adalah 10% dari harga jual.</p>
    <p style="text-align: justify;"><b><u>Contoh soal :</u></b></p>
    <p style="text-align: justify;">Amin membeli suatu barang dengan harga Rp2.000.000. Atas pembelian barang tersebut dikenakan pajak sebesar 10%. Berapakah uang yang harus dibayarkan Amin untuk membeli barang tersebut?</p>
    <p style="text-align: justify;"><b>Penyelesaian :</b></p>
    <p style="text-align: justify;">Harga barang : Rp 2000.000</p>
    <p style="text-align: justify;">Besarnya pajak = 10% × Rp 2.000.000 = Rp 200.000</p>
    <p style="text-align: justify;">Jadi, Amir harus membayar Rp2.200.000</p>
    </font>
    <br>
    <font face="Chalk">
    <h1>BRUTO, TARA, DAN NETO</h1>
    </font>
    <font face="FuturaHandwritten">
    <p style="text-align: justify;">Bruto, neto dan tara adalah istilah-istilah yang berkaitan dengan berat barang. Bruto adalah berat kotor suatu barang yang terdiri dari berat bersih dan berat tempatnya. Neto adalah berat bersih atau berat sebenarnya dari suatu barang. Sedangkan tara adalah potongan berat suatu barang, yaitu berat kemasan.</p>
    <p style="text-align: justify;">Bruto = neto + tara</p>
    <p style="text-align: justify;">Neto = bruto – tara, dan</p>
    <p style="text-align: justify;">Tara = bruto – neto</p>
    <p style="text-align: justify;"><b><u>Contoh Soal :</u></b></p>
    <p style="text-align: justify;">Seorang pedagang membeli satu karung gula pasir tertulis bruto 100 kg, tara 2% dengan harga Rp1.000.000,00. Semua gula pasir tersebut dijual dengan harga Rp14.000,00 per kg. Berapakah keuntungan pedagang tersebut?</p>
    <p style="text-align: justify;"><b>Penyelesaian :</b></p>
    <p style="text-align: justify;">Tara adalah 2% x 100 kg = 2 kg.</p>
    <p style="text-align: justify;">Neto = 100 kg – 2 kg = 98 kg.</p>
    <p style="text-align: justify;">Harga penjualannya adalah Rp14.000,00 × 98 kg = Rp1.372.000</p>
    <p style="text-align: justify;">Jadi, keuntungannya adalah Rp372.000</p>
    </font>
    <br>
    <br>
    <br>
    </center>
</body>
</html>

<style>
    body {
    background-image: linear-gradient(to right, #C8FFD4, #C8FFD4);
    margin-left: 50px;
    margin-right: 50px;
    padding: 0;
}

nav {
    top: 0;
    left: 0;
    position: fixed;
    height: 80px;
    width: 100%;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.9);
    border-bottom: 1px solid white;
}

.logo {
    float: left;
    height: 10px;
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    padding: 20px 20px;
    justify-content: space-around;
}

nav ul {
    margin: 0;
    padding: 0;
    float: right;
    list-style: none;
    display: flex;
}

nav ul li a {
    font-size: 20px;
    font-weight: bold;
    color: white;
    line-height: 80px;
    text-decoration: none;
    padding: 12px 50px;
    font-family: monospace;
}

nav ul li a:hover {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.8);
}
</style>